<%= render "shared/header" %>

<div class="comments">
<div claa="comment-purpose-name">
  <%= @event.purpose.name %>
</div>
<div class="comment-name">
  <%= @event.name %>
</div>

<%= form_with model: @comment, url: event_comments_path, class:"comment" do |f| %> 
  <%= f.text_field :text %>
  <%= f.submit '送信' %>
<% end %>
<div id="comments">
  <% @comments.reverse_each do |comment| %>
    <p><%= comment.text %></p>
  <% end %>
</div>

<%= render "shared/footer"%>