<%= render "shared/header" %>

<%=link_to "新規ツイート", new_tweet_path %>
<% @tweets.each do |tweet| %>
  <div class="tweets">
  <%=link_to tweet_path(tweet.id) do %>
    <%= image_tag tweet.image, class:"tweet-img" %>
    <%= tweet.text %>
  <% end %>
  </div>
<% end %>
 
<%= render "shared/footer"%>