<%= render "shared/header" %>

<div class="tweet-show">
  <%= image_tag @tweet.image %>
  <%= @tweet.text %>
</div>

<%= link_to "編集する", edit_tweet_path(@tweet.id), method: :get %>
<%= link_to "削除する", tweet_path, method: :delete %>

<div class="tweet-review">
  <%= form_with(model: [@tweet, @review], local: true) do |f| %>
    <%= f.text_area :text %>
    <%= f.submit "send" %>
  <% end %>
</div> 

<div class="tweet-reviews">
  <% if @reviews %>
    <% @reviews.each do |review| %>
      <p>
      <strong><%= review.user.nickname %></strong>
      <%= review.text %>
      </p>
    <% end %>
  <% end %>
</div>

<%= render "shared/footer"%>