<div class= "user-show">

  <div class= "user-show-main">
    <div class= "user-show-info">
      <div class= "user-name">
        <% @users.each do |user| %>
          <% if current_user.id == user.id %>
            <%= user.nickname %>
          <% end %>
        <% end %>
      </div>
      <div class= "edit-user">
        <%= link_to "EDIT", edit_user_path(current_user) %>
      </div>
      <div class= "back-to-event">
        <%= link_to "BACK", events_path %>
      </div>
    </div>

    <div class= "user-show-img">
      <div class= "events-scroll">
        <div class= "user-events-title">My Events</div>
        <div class= "user-events">
          <% if @events.present? %>
            <% @events.each do |event| %>
              <div class= "user-event">
                <%= link_to event_path(event.id) do%>
                  <div class= "user-event-name">
                    <%= event.name %>
                  </div>
                  <div class= "user-event-time">
                    <%= event.event_date %> <%= event.event_time %>
                  </div>
                  <div class= "user-event-liked">
                    <%= event.likes.count %> people
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class= "user-events-title">Favorite Events</div>
        <div class= "user-events">
          <% if @like_events.present? %>
            <% @like_events.each do |event| %>
              <div class= "user-event">
                <%= link_to event_path(event.id) do%>
                  <div class= "user-event-name">
                    <%= event.name %>
                  </div>
                  <div class= "user-event-time">
                    <%= event.event_date %> <%= event.event_time %>
                  </div>
                  <div class= "user-event-liked">
                    <%= event.likes.count %> people
                  </div>
                <% end %>  
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    <div class= "user-show-hide">
      <div class= "user-name">
        <% @users.each do |user| %>
          <% if current_user.id == user.id %>
            <%= user.nickname %>
          <% end %>
        <% end %>
      </div>
      <div class= "edit-user">
        <%= link_to "EDIT", edit_user_path(current_user) %>
      </div>
      <div class= "back-to-event">
        <%= link_to "BACK", events_path %>
      </div>
    </div>

      
    </div>
  </div>

</div>