<div class= "side">
  <div class= "events-title">
    <%=link_to "It's a small world", events_path %> 
  </div>
  <div class= "side-bar">
    <div class= "category">
      Category of Events
    </div>
    <div class="events">
      # <%=link_to "Language Exchange", language_events_path %>
    </div>
    <div class="events">
      # <%=link_to "Culuture", culture_events_path %>
    </div>
    <div class="events">
      # <%=link_to "Hang out", hangout_events_path %>
    </div>
    <div class="events">
      # <%=link_to "Others", others_events_path %>
    </div>
    <div class= "events-other">
      <%=link_to "Create Events", new_event_path %>
    </div>
    <div class= "events-other">
      <%=link_to "Search", events_search_path %>
    </div>
    <div class= "events-other">
      <%=link_to "Memories", tweets_path %>
    </div>
    <% if user_signed_in? %>
      <div class= "user">
        <%=link_to "About Me", user_path(:id) %>
      </div>
      <div class= "user">
        <%=link_to "Bye", destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div class= "user">
        <%=link_to "Join", new_user_registration_path %>
      </div>
    <% end %>
  </div>
</div>