<div class="event-category">
  
  <%= render "shared/sidebar"%>

  <div class= "culture-img">
    <div class= "main-events">
      <% @events.where("purpose_id = 2").each do |event| %>
      <ul class= "events-list">
        <li class= "lists">
          <%=link_to event_path(event.id) do %>
            <div class= "list-name">
              <%= event.name %>
            </div>
            <div class= "list-time">
              <%= event.month.name %> <%= event.day.name %>th  <%= event.year.name %>
            </div>
          <% end %>
          <div class="like">
            <% if user_signed_in? && event.user_id != current_user.id %>
              <% if event.liked_by?(current_user) %>
                <div class= "like-event">
                  <%=link_to 'not JOIN', event_likes_path(event.id), method: :delete %>
                </div>
                <div class= "like-count">
                  <%= event.likes.count %> people
                </div>
              <% else %>
                <div class= "like-event">
                  <%=link_to 'JOIN', event_likes_path(event.id), method: :post %>
                </div>
                <div class= "like-count">
                  <%= event.likes.count %> people
                </div>
              <% end %>
            <% else %>
              <div class= "like-count">
                <%= event.likes.count %> people
              </div>
            <% end %>
          </div>
        </li>
      </ul>
      <% end %>
    </div>
    <div class= "category-name">CULTURE</div>
  </div>

  <div class= "main-hide">
    <div class= "main-events">
      <% @events.where("purpose_id = 2").each do |event| %>
      <ul class= "events-list">
        <li class= "lists">
          <%=link_to event_path(event.id) do %>
            <div class= "list-name">
              <%= event.name %>
            </div>
            <div class= "list-time">
              <%= event.month.name %> <%= event.day.name %>th  <%= event.year.name %>
            </div>
          <% end %>
          <div class="like">
            <% if user_signed_in? && event.user_id != current_user.id %>
              <% if event.liked_by?(current_user) %>
                <div class= "like-event">
                  <%=link_to 'not JOIN', event_likes_path(event.id), method: :delete %>
                </div>
                <div class= "like-count">
                  <%= event.likes.count %> people
                </div>
              <% else %>
                <div class= "like-event">
                  <%=link_to 'JOIN', event_likes_path(event.id), method: :post %>
                </div>
                <div class= "like-count">
                  <%= event.likes.count %> people
                </div>
              <% end %>
            <% else %>
              <div class= "like-count">
                <%= event.likes.count %> people
              </div>
            <% end %>
          </div>
        </li>
      </ul>
      <% end %>
    </div>
    <div class= "category-name">CULTURE</div>
  </div>
</div>