<%= render "shared/header" %>

<div class="event-category">
  <div class="titles">異文化 / a different culture
  </div>
  <% @events.where("purpose_id = 2").each do |event| %>
  <ul class="events-list">
    <li class="lists">
    <div class="list-name">
      E v e n t : <%=link_to event.name, event_path(event.id), method: :get%>
    </div>
    <div class="list-time">
      <%=event.month.name%> <%=event.day.name%>th  <%=event.year.name%>
    </div>
    </li>
  </ul>
  <% end %>
</div>

<%= render "shared/footer"%>