<div class= "event-new">

  <%= render "shared/sidebar" %>

  <div class ="events-img">
    <%= form_with model: @event, class: "event-information", method: :patch, local: true do |f| %>
      <div class= "new-event">
        <div class= "new-event-title">what do you wanna do ?
        </div>
        <div class= "event-a">
          <%= f.file_field :image, class: "input-image", id: "image" %>
        </div>
        <div class= "event-a">
          <%= f.collection_select(:purpose_id, Purpose.all, :id, :name, {}, {class: "input-id", id: "purpose"}) %>
        </div>
        <div class= "event-a">
          <%= f.text_area :name, placeholder:"name", class: "input", id: "name" %>
        </div>
        <div class= "event-a">
          <%= f.date_field :event_date, class:"form-controll" %><%= f.time_field :event_time, class:"form-controll" %>
        </div>
        <div class= "event-a">
          <%= f.text_area :place, placeholder:"place", class: "input", id: "place" %>
        </div>
        <div class= "event-a">
          <%= f.text_area :info, placeholder:"info", class: "input-info", id: "info" %>
        </div>
        <div class= "event-a">
          <%= f.submit "Do it!!" ,class:"event-btn" %>
        </div>
      </div>
    <% end %>
  </div>

    <div class ="new-hide">
    <%= form_with model: @event, class: "event-information", method: :patch, local: true do |f| %>
      <div class= "new-event">
        <div class= "new-event-title">what do you wanna do ?
        </div>
        <div class= "event-a">
          <%= f.file_field :image, class: "input-image", id: "image" %>
        </div>
        <div class= "event-a">
          <%= f.collection_select(:purpose_id, Purpose.all, :id, :name, {}, {class: "input-id", id: "purpose"}) %>
        </div>
        <div class= "event-a">
          <%= f.text_area :name, placeholder:"name", class: "input", id: "name" %>
        </div>
        <div class= "event-a">
          <%= f.date_field :event_date, class:"form-controll" %><%= f.time_field :event_time, class:"form-controll" %>
        </div>
        <div class= "event-a">
          <%= f.text_area :place, placeholder:"place", class: "input", id: "place" %>
        </div>
        <div class= "event-a">
          <%= f.text_area :info, placeholder:"info", class: "input-info", id: "info" %>
        </div>
        <div class= "event-a">
          <%= f.submit "Do it!!" ,class:"event-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>