<%= render "shared/header" %>

<div class="event-category">
  <div class="titles">言語交換 / Language Exchange
  </div>
  <% @events.where("purpose_id = 1").each do |event| %>
  <ul class="events-list">
    <li class="lists">
    <%=link_to event_path(event.id) do %>
    <div class="list-name">
      E v e n t : <%=event.name%>
    </div>
    <div class="list-time">
      <%=event.month.name%> <%=event.day.name%>th  <%=event.year.name%>
    </div>
    <% end %>
    </li>
  </ul>
  <% end %>
</div>

<%= render "shared/footer"%>