<div class="event-category">

  <%= render "shared/sidebar"%>

  <div class= "language-img">
    <div class= "main-events">
      <% @events.where("purpose_id = 1").each do |event| %>
      <% @event = event %>
      <ul class= "events-list">
        <li class= "lists">
          <%=link_to event_path(event.id) do %>
            <div class= "list-name">
              <%= event.name %>
            </div>
            <div class= "list-time">
              <%= event.event_date %> <%= event.event_time %>
            </div>
          <% end %>
          <div class="like">
            <%=render partial: "likes/like", event: event %>
          </div>
        </li>
      </ul>
      <% end %>
    </div>
    <div class= "category-name">LANGUAGE</div>
  </div>
  

  <div class= "main-hide">
    <div class= "main-events">
      <% @events.where("purpose_id = 1").each do |event| %>
      <% @event = event %>
      <ul class= "events-list">
        <li class= "lists">
          <%=link_to event_path(event.id) do %>
            <div class= "list-name">
              <%= event.name %>
            </div>
            <div class= "list-time">
              <%= event.event_date %> <%= event.event_time %>
            </div>
          <% end %>
          <div class="like">
            <%=render partial: "likes/like", event: event %>
          </div>
        </li>
      </ul>
      <% end %>
    </div>
    <div class= "category-name">LANGUAGE</div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
