<%= render "shared/header" %>

<div class="search">
  <%= search_form_for @e, url: events_search_path do |f| %>
    <%= f.label :purpose_id_eq, "カテゴリー" %>
    <%= f.collection_select :purpose_id_eq, Purpose.all, :id, :name, include_blank: '指定なし' %>
    <br>
    <%= f.label "event time" %>
    <%= f.collection_select :month_id_eq, Month.all, :id, :name, include_blank: '指定なし' %>
    <%= f.collection_select :day_id_eq, Day.all, :id, :name, include_blank: '指定なし' %>
    <%= f.collection_select :year_id_eq, Year.all, :id, :name, include_blank: '指定なし' %>
    <%= f.collection_select :day_of_week_id_eq, DayOfWeek.all, :id, :name, include_blank: '指定なし' %>
    <%= f.collection_select :event_time_id_eq, EventTime.all, :id, :name, include_blank: '指定なし' %>
    <br>
    <%= f.submit "検索" %>
  <% end %>
  <br>
  <% if @results.length !=0 %>
    <% @results.each do |result| %>
    <br>
    <li>
    <%= link_to event_path(result.id) do %>
      <%= result.name %>
      <%= result.month.name %>
      <%= result.day.name %>
      <%= result.year.name %>
      <%= result.day_of_week.name %>
      <%= result.event_time.name %>
    <% end %>
    </li>
    <% end %>
  <% else %>
     no event
  <% end %>
  <br>
  <%= link_to "トップに戻る", events_path %>
</div>

<%= render "shared/footer"%>