<div class= "event-show">

  <%= render "shared/sidebar" %>

  <div class= "events-img">
    <div class= "show-main">
      <div class= "event-show-info">
        <div class= "show-name">
          <%= @event.name %>
        </div>
        <div class= "show-time">
          <div class= "show-date">
            <%= @event.event_date %>
          </div>
          <div class= "show-event-time">
            <%= @event.event_time %>
          </div>
        </div>
        <div class= "show-place">
          @ <%= @event.place %>
        </div>
        <div class="show-user-like">
          <div class= "show-user">
            Event's Host : <%= @event.user.nickname %>
          </div>
          <div class= "show-like">
            <%=render partial: "likes/like", event: @event %>
          </div>
        </div>
        <div class= "show-image">
          <%=image_tag @event.image, size:"400x300" %>
        </div>
        <div class= "show-info">
          <%= @event.info %>
        </div>
        <div class= "edit-delete">
        <% if user_signed_in? %>
          <% if @event.user_id == current_user.id %>
            <div class= "edit-delete-btn">
              <%=link_to "edit", edit_event_path(@event.id), method: :get %>
            </div>
            <div class= "edit-delete-btn">  
              <%=link_to "delete", event_path, method: :delete %>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class= "show-hide">
    <div class= "show-main">
      <div class= "event-show-info">
        <div class= "show-name">
          <%= @event.name %>
        </div>
        <div class= "show-time">
          <div class= "show-date">
            <%= @event.event_date %>
          </div>
          <div class= "show-event-time">
            <%= @event.event_time %>
          </div>
        </div>
        <div class= "show-place">
          @ <%= @event.place %>
        </div>
        <div class="show-user-like">
          <div class= "show-user">
            Event's Host : <%= @event.user.nickname %>
          </div>
          <div class= "show-like">
            <%=render partial: "likes/like", event: @event %>
          </div>
        </div>
        <div class= "show-image">
          <%=image_tag @event.image, size:"300x200" %>
        </div>
        <div class= "show-info">
          <%= @event.info %>
        </div>
        <div class= "edit-delete">
        <% if user_signed_in? %>
          <% if @event.user_id == current_user.id %>
            <div class= "edit-delete-btn">
              <%=link_to "edit", edit_event_path(@event.id), method: :get %>
            </div>
            <div class= "edit-delete-btn">  
              <%=link_to "delete", event_path, method: :delete %>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>


</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
